<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Cash Register</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img  alt="register1" src="/img/register1.jfif"  align="left" width="225" height="225">
<img  alt="register2" src="/img/register2.jfif"  align="right" width="225" height="225">
<%
   total = 0
    if tuna == "t"
    	total = total + grocery("Lite Tuna").to_f
    end

    if goldfish == "t"
    	total = total + grocery("Goldfish").to_f
    end

       if beans == "t"
    	total = total + grocery("Pinto Beans").to_f
    end

    if pepperoni == "t"
    	total = total + grocery("Pepperoni").to_f
    end

     if milk == "t"
        total = total + grocery("Milk").to_f
    end

     if butter == "t"
        total = total + grocery("Butter").to_f
    end

     if cheese == "t"
        total = total + grocery("Cheese").to_f
    end

     if whip_topping == "t"
        total = total + grocery("Whip_Topping").to_f
    end
   
    %>
    Thank for shopping with us.<br>
    Shopping Cart<br>

$<%= total.round(2) %>
<br>
<% 
tax = total * 0.06
total_all = total + tax
%>
<br>
$<%= tax.round(2) %><br>
$<%= total_all.round(2) %><br>
<br><br>
<form method="post" action="payment">
<input type="integer"  name="amount">
<input type="hidden" name="tuna" value = <%= tuna %>>
<input type="hidden" name="goldfish" value = <%= goldfish %>>
<input type="hidden" name="beans" value = <%= beans %>>
<input type="hidden" name="pepperoni" value = <%= pepperoni %>>
<input type="hidden" name="milk" value = <%= milk %>>
<input type="hidden" name="butter" value= <%= butter %>>
<input type="hidden" name="cheese" value= <%= cheese %>>
 <input type="hidden" name="whip_topping" value= <%= whip_topping %>>
<input type="hidden" name="total" value = <%= total %>>
<input type="hidden" name="total_all" value = <%= total_all %>>
    <br>
    <br>    
<input type="submit"><br><br>
</form>
Do you want to change your order?<br><br> If so select Go button
<a href='//localhost:4567'>Go!</a>
</center>
</body>
<br><br><br>
<script>
window.onload=getOrderDate('date');
</script>
